.wrapper {
    height: 100%;
    width: 100%;
    flex: 1;
}

.container {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 300px;
    margin-left: 15px;
}
